absl-py
adal
albumentations
altair
anyio
applicationinsights
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
attrs
autopep8
azure-common
azure-core
azure-graphrbac
azure-mgmt-authorization
azure-mgmt-containerregistry
azure-mgmt-core
azure-mgmt-keyvault
azure-mgmt-resource
azure-mgmt-storage
azureml-core
azureml-pipeline
azureml-pipeline-core
azureml-pipeline-steps
azureml-sdk
azureml-telemetry
azureml-train
azureml-train-core
azureml-train-restclients-hyperdrive
backcall
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
bleach
blinker
bs4
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
comtypes
contextlib2
cryptography
cv2-tools
cvzone
cycler
debugpy
decorator
defusedxml
distlib
Django
docker
docopt
entrypoints
executing==1.2.0
fastjsonschema==2.16.2
filelock==3.9.0
Flask==1.1.4
Flask-Cors==3.0.10
flatbuffers==22.10.26
fonttools==4.34.4
fqdn==1.5.1
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
glob2==0.7
google-auth==2.14.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.50.0
gunicorn==20.1.0
h11==0.14.0
h5py==3.7.0
html5==0.0.9
idna==3.4
image-augmenter==0.5.5
ImageHash==4.3.1
imageio==2.22.3
importlib-metadata==6.6.0
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets==8.0.4
isodate==0.6.1
isoduration==20.11.0
itsdangerous==1.1.0
jedi==0.18.2
jeepney==0.8.0
jellyfish==0.9.0
Jinja2==2.11.3
jmespath==1.0.1
joblib==1.2.0
jsonpickle==2.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.5.0
jupyter_client==7.4.8
jupyter_core==5.1.2
jupyter_server==2.0.6
jupyter_server_terminals==0.4.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lib50==3.0.4
libclang==14.0.6
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.0.1
matplotlib==3.5.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe==0.8.10.1
mistune==2.0.4
MouseInfo==0.1.3
msrest==0.7.1
msrestazure==0.6.4
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.7
nbformat==5.7.1
ndg-httpsclient==0.5.1
nest-asyncio==1.5.6
networkx==2.8.7
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.23.4
oauthlib==3.2.2
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.1
pandocfilters==1.5.0
paramiko==2.11.0
parso==0.8.3
pathspec==0.10.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow
pipenv==2022.12.19
pipreqs==0.4.11
platformdirs==2.6.2
pprintpp==0.4.0
prometheus-client==0.15.0
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==5.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.12
PyAutoGUI==0.9.53
pycodestyle==2.10.0
pycparser==2.21
pydeck==0.8.1b0
PyGetWindow==0.0.9
Pygments==2.14.0
PyJWT==2.6.0
Pympler==1.0.1
PyMsgBox==1.0.9
PyNaCl==1.5.0
pyOpenSSL==22.1.0
pyparsing==3.0.9
pyperclip
pypiwin32
PyRect
pyrsistent
PyScreeze
python-constraint
python-dateutil
python-json-logger
pyttsx3
pytweening
pytz
pytz-deprecation-shim
PyWavelets
pywhatkit
PyYAML
pyzmq
qtconsole
QtPy
qudida
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rsa
ruamel.yaml
scikit-image
scikit-learn
scipy
seaborn
SecretStorage
semver
Send2Trash
six
smmap
sniffio
soupsieve==2.3.2.post1
SpeechRecognition
sqlparse
stack-data
streamlit
submit50
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tifffile
tinycss2
toml
tomli
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
uri-template
urllib3
utils
uvicorn
validators
virtualenv
virtualenv-clone
virtualenvwrapper-win
waitress
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
wikipedia
wordcloud
wrapt
xgboost
yarg
zipp
