Django
entrypoints
executing
fastjsonschema
filelock
Flask
Flask-Cors
flatbuffers
fonttools
fqdn
gast
gitdb
GitPython
glob2
grpcio
gunicorn
h11
h5py
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
isodate
isoduration
itsdangerous
jedi
jeepney
jellyfish
Jinja2
jmespath
joblib
jsonpickle
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
kiwisolver
lib50
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
mistune
MouseInfo
msrest
msrestazure
nbclassic
nbclient
nbconvert
nbformat
ndg-httpsclient
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
oauthlib
opencv-contrib-python
opencv-python
opencv-python-headless
opt-einsum
packaging
pandas
pandocfilters
PyYAML
pyzmq
qtconsole
QtPy
qudida
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rsa
ruamel.yaml
scikit-image
scikit-learn==1.1.3
scipy
seaborn
SecretStorage
semver
Send2Trash
six
smmap
sniffio
soupsieve==2.3.2.post1
SpeechRecognition
sqlparse
stack-data
streamlit
submit50
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
uri-template
urllib3
utils
uvicorn
validators
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
wikipedia
wordcloud
wrapt
xgboost
yarg
zipp
